.container {
  display: flex;
  width: 220px;
  justify-content: space-between;
  padding: 5px;
  border: 2px solid rgb(16, 16, 16);
  border-radius: 5px;
  align-items: center;
}

.btn {
  padding: 5px;
  border-radius: 5px;
  background-color: aliceblue;
  border-color: rgb(90, 91, 92);
}

.btn:hover {
  border-color: rgb(90, 91, 92);
}
.title {
  display: flex;
  align-items: center;
  gap: 5px;
}
